@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap");

:root {
  --white: #f2f2f2;
  --blue1: #d1eaff;
  --blue2: #95acbf;
  --blue3: #6883a6;
  --blue4: #38485c;
  --green1: #a69e38;
  --green2: #786e34;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--blue3);
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
  color: var(--white);
  font-size: 4em;
}

.subtitulo {
  color: var(--blue1);
  font-size: 2em;
  /* border: 12px; */
}

.tarjetas,
.tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 200px;
  height: 160px;
  background: var(--blue2);
  padding: 20px 36px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid var(--blue3);
  border-radius: 12px;
  display: flex;
  color: var(--blue4);
  justify-content: center;
  align-items: center;
  box-shadow: 12px 12px 40px var(--blue4);
  cursor: pointer;
}

.tarjeta-de-mokepon img {
  width: 90px;
}

.tarjeta-de-mokepon:hover {
  background: var(--blue1);
  transform: scale(102%);
}

input {
  display: none;
}

input:checked + label {
  background: var(--white);
}

#boton-mascota {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green1);
  width: 180px;
  height: 40px;
  border: 1px solid var(--green2);
  /* padding: 12px 24px; */
  margin-top: 16px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  box-shadow: 12px 12px 40px var(--blue4);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  /* transition: all 0.2s ease-in-out; */
}

#boton-mascota:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--blue4);
  transform: scale(110%);
}

#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  justify-content: center;
  align-items: center;
  background-color: var(--blue2);
  width: 80px;
  height: 60px;
  border: 1px solid var(--blue3);
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 12px 12px 40px var(--blue4);
  margin: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

#mensajes {
  width: 360px;
  background: var(--white);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ataques {
  display: grid;
  grid-template-columns: 140px 140px;
  justify-items: center;
  justify-content: center;
  font-family: "Poppins", cursive;
  font-size: 1.4rem;
  color: var(--white);
}

#vidas-jugador,
#vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador,
.ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .tarjetas,
  .tarjetas-ataques {
    flex-direction: column;
  }
  .tarjeta-de-mokepon {
    width: 240px;
    height: 100px;
  }
  /* .tarjetas-ataques {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
}
