@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #6883a6;
  font-size: 1.2em;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
  color: #f2f2f2;
  font-size: 2.2em;
}

.subtitulo {
  color: #d1eaff;
  font-size: 1.2em;
  /* border: 12px; */
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 200px;
  height: 160px;
  background: #95acbf;
  padding: 20px 36px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #6883a6;
  border-radius: 12px;
  display: flex;
  /* color: #6883a6; */
  color: #38485c;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 12px 40px #38485c;
  cursor: pointer;
}

.tarjeta-de-mokepon img {
  width: 90px;
}

input {
  display: none;
}

#boton-mascota {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a69e38;
  width: 180px;
  height: 40px;
  border: 1px solid #786e34;
  /* padding: 12px 24px; */
  margin-top: 16px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  box-shadow: 12px 12px 40px #38485c;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  /* transition: all 0.2s ease-in-out; */
}

#boton-mascota:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  color: #38485c;
  transform: scale(105%);
}

#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  justify-content: center;
  align-items: center;
  background-color: #95acbf;
  width: 100px;
  height: 40px;
  border: 1px solid #6883a6;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 12px 12px 40px #38485c;
  margin: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
